<link rel="stylesheet" type="text/css" href="~/Scripts/DataTable/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Scripts/DataTable/Responsive-2.3.0/css/responsive.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />

<link rel="stylesheet" type="text/css" href="~/Scripts/DateRangePicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="~/Scripts/Loader/Loader.css" />



<div id="loader"></div>

<div id="div_contenido" class="container-fluid px-4" style="display:none">

    <div class="" id="modal_AgregarActividad" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <br />
        <div id="Error_ReservarHora"></div>
        <div class="modal-content">
            <form id="form_tranferencias" action="javascript:CargarTranferencias();">
                <div class="modal-header btn-primary">
                    <h5 class="modal-title" id="exampleModalLabel">Ver Tranferencias</h5>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="form-floating mb-3 mb-md-0">
                            <select name="mes" class="form-control" type="text" required></select>
                            <label for="selectorClase">Seleccione un mes </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating mb-3 mb-md-0">
                            <select name="year" class="form-control" type="text" required></select>
                            <label for="selectorHorario">Seleccione un año</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button name="button" type="submit" class="btn btn-success">Buscar</button>
                </div>
            </form>
            <div class="me-3 ms-3">
                <table id="tabla_transferencias" class="display responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Monto</th>
                            <th width="10%">Detalle Tarjeta</th>
                            <th width="10%">Cód. Autorización</th>
                            <th>Tipo Transacción</th>
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th width="10%">Rut</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</div>





<script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js" defer></script>
<script type="text/javascript" src="~/Scripts/DateRangePicker/moment.min.js" defer></script>
<script type="text/javascript" src="~/Scripts/DateRangePicker/daterangepicker.js" defer></script>
<script type="text/javascript" charset="utf-8" src="~/Scripts/DataTable/datatables.min.js" defer></script>
<script type="text/javascript" charset="utf-8" src="~/Scripts/DataTable/Responsive-2.3.0/js/dataTables.responsive.min.js" defer></script>


<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js" defer></script>
<script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" defer></script>
<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js" defer></script>


<script type="text/javascript" src="~/Scripts/Loader/Loader.js" defer></script>
<script type="text/javascript" src="~/Scripts/Principal/Tablas.js" defer></script>
<script type="text/javascript" src="~/Scripts/Principal/Sistema/Admin/TranferenciasRealizadas.js" defer></script>
<script type="text/javascript" src="~/Scripts/Principal/Comunes/LlamadoServer.js" defer></script>