@{
    ViewBag.Title = "Contact";
}

<link href="~/Scripts/DateRangePicker/daterangepicker.css" rel="stylesheet" />

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">

        <input id="calendario_1" type="text" name="daterange" value="" />
        <input id="calendario_2" type="text" name="daterange" value="" />

    </div>

    <script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js" defer></script>
    <script src="~/Scripts/DateRangePicker/moment.min.js" defer></script>
    <script src="~/Scripts/DateRangePicker/daterangepicker.js" defer></script>
    <script src="~/Scripts/Principal/Calendario.js" defer></script>
</div>

